*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

/*---FOOTER---*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
}
.footer i{
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
}
.footer i:hover{
  color: grey;
}



/*---NAVBAR---*/
.navbar-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
.links {
  list-style: none;
}
.links li {
  display: inline-block;
  padding: 0px 20px;
}
.links li a {
  transition: all 0.3s ease 0s;
}
.links a:link, a:visited {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.links li a:hover{
  color: #FE5F55;
}
.name{
  cursor: pointer;
  margin-right: auto;
  font-size: 40px;
  font-weight: bolder;
  line-height: 80px;
}


/*---CONTACT---*/
.container-mid{
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.container-mid span{
  display: inline-block;
  font-size: 40px;
  font-weight: bolder;
}
.logos{
  text-align: center;
  width: 100%;
  padding-right: 20px;
  padding: 30px;
}
.logos ul {
  margin-right: 20px;
}
.logos ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
.logos ul li a {
  color: black;
  padding-left: 50px;
}
.logos a:link, a:visited{
  text-decoration: none;
  color: black;
  padding: 10px;
}
.logos a:hover{
  color: grey;
}
.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input, .form-group textarea{
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  border: 2px solid rgba(128, 128, 128, 0.199);
}

form {
  font-size: 20px;
}
textarea{
  resize: vertical;
}
input[type=submit]{
  height: 50px;
  width: 100%;
  background-color: #FE5F55;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
input[type=submit]:hover{
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  animation:slidebg 5s linear infinite;
}



@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.follow{
  margin-top: 40px;
}

.follow a{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}





